@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <a href="https://github.com/Danteira/ADS-IFPI.git" target="_blank" class="btn btn-circle btn-lg mt-3" style="font-size: 25px;">GitHub</a>
</div>
